# Core Telegram Bot & Webhooks
python-telegram-bot[webhooks]

# Google Sheets Dependencies
gspread
gspread-asyncio
google-auth
google-auth-oauthlib
requests
# OCR Dependencies (Google Cloud Vision ကို အသုံးပြုရန် ယူဆထားပါသည်)
google-cloud-vision
Pillow
